### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/8/b/8b494de17dadab0e354ef9a0074bad12951c77d2
/.idea/sonarlint/issuestore/0/6/0609d6351d9706629da7d072604c684d0d39f4d0
/.idea/sonarlint/issuestore/c/d/cdb9061a1f935f2d023c486c85fcc55ef87a02c1
